
@media screen and (min-device-width: 900px) {
  body {
    max-width: 900px;
  }
  .container,
  .footer {
    min-width: 860px;
  }
  .about-us-list li {
    max-width: 350px;
  }

  .catalog-item {
    max-width: 200px;
    min-height: 300px;
  }
  .catalog-item .button {
    top: 290px;
    left: 3px;
    right: 3px;

    padding-left: 12px;
    padding-right: 12px;
  }
  .catalog-item-title {
    top: 215px;
  }
  .catalog-item-price {
    top: 150px;
  }
}

@media screen and (min-device-width: 1200px) {
  body {
    max-width: 1200px;
  }
  .container,
  .footer {
    max-width: 1146px;
  }
  .about-us-list li {
    max-width: 480px;
  }

  .catalog-item {
    max-width: 267px;
    min-height: 340px;
  }
  .catalog-item .button {
    top: 330px;
    left: 33px;
    right: 33px;

    padding-left: 16px;
    padding-right: 16px;
  }
  .catalog-item-title {
    top: 280px;
  }
  .catalog-item-price {
    top: 215px;
  }
}

html {
  background-color: #282828;
}

body {
  background-color: #849d8f;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;

  margin: auto;
  padding-top: 9px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.body-double-creme-brulee,
.body-double-creme-chocolate,
.body-double-ice-cream-with-fudge {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
}

.body-double-creme-brulee {
  background-color: #849d8f;
  background-image: url("../img/slider-1.jpg");
}

.body-double-creme-chocolate {
  background-color: #8996a6;
  background-image: url("../img/slider-2.jpg");
}

.body-double-ice-cream-with-fudge {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.jpg");
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header,
.container,
.footer {
  margin: 0 2.2%;
}

.site-navigation,
.slider,
.catalog-list,
.about-us-list,
.news-list,
.footer-social-list,
.footer-documents-list,
.nav-catalog-list,
.pop-up-login-list,
.breadcrumbs,
.fat-content-list,
.filter-filling-list,
.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-header {
  position: relative;
}

.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.breadcrumbs {
  padding-top: 20px;
}

.site-navigation li,
.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li:not(:first-child) {
  margin-left: 20px;
}

.site-navigation span,
.breadcrumbs a {
  position: relative;
}

.site-navigation span::before,
.breadcrumbs a::before {
  content: "";

  position: absolute;
  top: 20px;
  right: 0;

  height: 1px;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.2);
  transform: rotate(0deg);
}






/*

.site-navigation a {

}

.site-navigation a:hover {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  padding: 8px 16px;

  border-radius: 50px;

  background-color: #f7f6f3;

  box-shadow: none;

  font-weight: 700;
  color: #333333;
}
.site-navigation a:focus {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);

}
*/

.catalog-item-title,
.footer-developer a,
.document-list,
.footer-developer a {
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0.5);
}

.search,
.login-link,
.basket {
  background-color: rgba(255, 255, 255, 0.2);

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 50px;
}

.button-transparent {
  padding: 8px 16px;
  margin-left: 10px;
}

.button-transparent:hover {
  background-color: #f7f6f3;
  color: #323232;
}

.button-transparent:focus {
  background-color: #d07058;
  color: #ffffff;
}

.button-transparent:active {
  background-color: #f7f6f3;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);

  color: #323232;
}

.search {
  padding-left: 7px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 5px;

  margin-left: auto;
  margin-right: 0;
}


/* потом
.search:hover path {
  background: red;
  fill: #000000;
}*/

.login-link,
.basket,
.basket-red {
  padding-left: 44px;
}

/*  потом сделаю

.login-link::before {
  content: "";
  position: absolute;
  right: 200px;
  top: 30px;

  width: 21px;
  height: 19px;

  background-image: url("../img/login-link.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ff0000;
}*/


/*  потом сделаю
.basket::before {
  content: "";
  position: absolute;
  right: 150px;
  top: 30px;

  width: 22px;
  height: 20px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ff0000;
}*/

.basket-red {
  background-color: #f7f6f3;
}

/*  потом сделаю
.basket-red::before {
  content: "";
  position: absolute;
  right: 160px;
  top: 30px;

  width: 22px;
  height: 20px;

  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: #ff0000;
}*/

.basket-red span {
  color: #323232;
}

.position-right {
  position: absolute;
  bottom: -40px;
  right: 0;

  margin: 0;
  padding: 0;

  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.position-right span {
  font-size: 22px;
  line-height: 24px;
}

.extras {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-bottom: 40px;
}

.extras h3 {
  font-style: normal;
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}

.raspberry-jam {
  position: relative;

  background-color: #5a0512;
  background-image: url("../img/raspberries.jpg");
  background-position: center center;
  background-repeat: no-repeat;

  padding: 20px;
  margin-right: 20px;
}

.chocolate-free {
  position: relative;

  background-color: #3a2217;
  background-image: url("../img/chocolate.jpg");
  background-position: center center;
  background-repeat: no-repeat;

  padding: 20px;
}

.raspberry-jam a,
.chocolate-free a {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.extras p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700px;
}

.double-ice-cream {
  position: relative;

  margin-bottom: 40px;
}

.double-creme-brulee,
.double-creme-chocolate,
.double-ice-cream-with-fudge {
  text-align: center;
}

.double-ice-cream h3 {
  margin-top: 325px;
  margin-bottom: 30px;

  text-align: center;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

.slider {
  position: absolute;
  bottom: 10px;
  left: 2.2%;
}


.slider label {
  display: inline-block;

  width: 17px;
  height: 17px;
  margin-right: 8px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.input-slider-1:checked ~ .slider-background .label-slider-1,
.input-slider-2:checked ~ .slider-background .label-slider-2,
.input-slider-3:checked ~ .slider-background .label-slider-3 {
  background-color: #ffffff;
}

.input-slider-1:checked ~ .slider-background .double-creme-brulee,
.input-slider-2:checked ~ .slider-background .double-creme-chocolate,
.input-slider-3:checked ~ .slider-background .double-ice-cream-with-fudge {
  display: block;
}

.input-slider-1:checked ~ .slider-background .double-creme-chocolate,
.input-slider-1:checked ~ .slider-background .double-ice-cream-with-fudge,
.input-slider-2:checked ~ .slider-background .double-creme-brulee,
.input-slider-2:checked ~ .slider-background .double-ice-cream-with-fudge,
.input-slider-3:checked ~ .slider-background .double-creme-brulee,
.input-slider-3:checked ~ .slider-background .double-creme-chocolate {
  display: none;
}

.red-button {
  background-image: linear-gradient( 0deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.red-button-big {
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.red-button-medium {
  padding: 10px 22px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.hits,
.catalog {
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  margin: 0px;
}

.catalog-item p {
  margin: 0;
  padding: 0;
}

.catalog-item > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.catalog-item-image img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.catalog-item-price {
  position: absolute;

  padding: 0;
  margin: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-price span {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-title {
  position: absolute;

  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  text-align: center;
}

.item-hit::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;

  border-radius: 50%;
}

.catalog-item .button {
  position: absolute;
  z-index: 2;
}

.about-us {
  margin-bottom: 40px;
  padding: 20px;

  color: #323232;

  background-color: #eaddbf;
  background-image: url("../img/waffle.jpg");
  background-repeat: repeat;

  border-radius: 15px;
}

.about-us h2 {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-us-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: space-between;
}

.about-us-list li {
  min-width: 350px;
  margin-top: 10px;
  padding-left: 55px;
}

.about-us-list li:nth-child(1) {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.about-us-list li:nth-child(2) {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.about-us-list li:nth-child(3) {
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.about-us-list li:nth-child(4) {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

.about-us-list p {
  margin-top: 15px;
  margin-bottom: 0px;
}

.news {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-bottom: 40px;
}

.card {
  flex-grow: 1;
  flex-shrink: 1;

  box-sizing: border-box;
  max-width: 560px;
  min-width: 420px;
  min-height: 220px;
  border-radius: 15px;
}

.news-blog {
  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  background-position: top right;
  background-repeat: no-repeat;

  padding: 20px;
  margin-right: 20px;
}

.news-blog h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;

  margin: 0;
  padding: 0;
}

.news-item {
  width: 290px;
  margin-top: 10px;
}
.news-article {
  margin: 0;
  padding: 0;

  text-decoration-line: underline;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.news-article span {
  background-color: rgba(255, 255, 255, 0.8);
}

.news-subscription {
  display: flex;

  background-color: #fe9e90;
  background-image: url("../img/39.jpg");
  background-position: top left;
  background-repeat: repeat;

  padding: 5px;
}

.background {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  background-color: #f8f7f4;
  border-radius: 15px;
  padding: 20px 30px;
}

.background p {
  color: #5a5a5a;
}

.email {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.email input {
  border-radius: 5px;

  margin-right: 10px;

  flex-grow: 1;
}

.map {
  position: relative;
  height: 430px;
}

.map::before {
  content: "";

  position: absolute;

  width: 100%;
  height: 100%;

  background-color: #ffffff;
  background-image: url("../img/map.jpg");
  background-position: center;
}

.map-feedback {
  position: absolute;
  top: 65px;
  right: 2.2%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 300px;
  height: 300px;

  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px 25px;

  z-index: 2;
}

.map-feedback p {
  margin: 0;
  padding: 0;
  color: #323232;
}

.map-big-bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.footer-social-list li:not(:last-child) {
  margin-right: 10px;
}

.footer-documents-list {
  display: inline-block;
  margin-left: 30px;
}

.document-list b {
  position: relative;
}

.document-list b::before {
  content: "";

  position: absolute;
  left: -20px;
  top: 1px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
}

.document-list,
.pop-up-login-list a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-developer p,
.footer-developer a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.filter {
  max-width: 860px;
  margin-left: -10px;
  margin-bottom: 40px;
}

.filter-sort {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.fat-content-list,
.filter-filling-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.filter-sort-option,
.filter-horisontal-slider,
.fat-content-list,
.filter-filling-list,
.filter-submit {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50px;

  padding: 8px 16px;
  margin-left: 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-submit {
  border: 2px solid rgba(255, 255, 255, 1);

}

.fat-content-list li,
.filter-filling-list li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fat-content-list li:not(:first-child),
.filter-filling-list li:not(:first-child) {
  margin-left: 40px;
}

.filter-sign {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 10px;
  padding: 10px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.pagination {
  text-align: right;
}

.pagination-list {
  margin-left: 25px;
  margin-right: 30px;
}

.pagination-item {
  position: relative;
}

.pagination-item:first-child::before {
  content: "";

  position: absolute;
  left: -25px;
  top: 11px;

  width: 8px;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
  transform: rotate(-45deg);
}

.pagination-item:first-child::after {
  content: "";

  position: absolute;
  left: -25px;
  bottom: 10px;

  width: 8px;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
  transform: rotate(45deg);
}

.pagination-item:last-child::before {
  content: "";

  position: absolute;
  right: -30px;
  top: 11px;

  width: 8px;
  height: 1px;

  background-color: rgba(255, 255, 255, 1);
  transform: rotate(45deg);
}

.pagination-item:last-child::after {
  content: "";

  position: absolute;
  right: -30px;
  bottom: 10px;

  width: 8px;
  height: 1px;

  background-color: rgba(255, 255, 255, 1);
  transform: rotate(-45deg);
}


.pagination-item,
.pagination-item a {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
}

.pagination-item a {
  box-sizing: border-box;

  min-width: 27px;
  height: 27px;

  padding: 5px;

  border-radius: 50%;

  line-height: 16px;
}

.pagination-item-current a {
  background-color: rgb(255, 255, 255);
}

.pagination-item-current a {
  color: #323232;
}

.body-catalog .footer {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}


/*                    -------------------------------------------             */


.nav-catalog {
  box-sizing: border-box;
  width: 145px;

  border-radius: 5px;
  background-color: #f8f7f4;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.nav-catalog a {
  display: block;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.nav-catalog a:hover {
  background-color: rgb(251, 222, 215);
}

.nav-catalog a:focus {
  background-color: rgb(208, 112, 88);
}

.nav-catalog a:active {
  background-color: rgb(246, 181, 165);
}

.pop-up-search {
  box-sizing: border-box;

  width: 340px;
  height: 85px;

  padding: 20px;
  background-color: #f8f7f4;
  border-radius: 5px;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.pop-up-search input,
.pop-up-login-link input,
.pop-up-feedback input {
  box-sizing: border-box;
  width: 100%;
  height: 43px;

  border-radius: 5px;
}

.pop-up-login-link {
  position: relative;
  box-sizing: border-box;

  width: 280px;
  height: 215px;

  padding: 20px;
  background-color: #f8f7f4;
  border-radius: 5px;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.pop-up-login-link input,
.pop-up-feedback input {
  margin-bottom: 20px;
}

.pop-up-login-list {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.login-form button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.pop-up-login-list a {
  text-decoration-line: underline;
  text-decoration-color: rgba(50, 50, 50, 0.3);
  color: #323232;
}

.pop-up-feedback {
  position: relative;
  box-sizing: border-box;

  width: 480px;
  height: 445px;

  padding: 25px;
  border-radius: 10px;
  background-color: #f8f7f4;

  color: #323232;
}

.pop-up-feedback h2 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500px;
}

.pop-up-feedback .close {
  position: absolute;

  top: 15px;
  right: 15px;

  border: none;
  background-color: transparent;
}

.pop-up-feedback input {
  box-sizing: border-box;
  width: 60%;
}

.pop-up-feedback textarea {
  width: 100%;
  height: 155px;

  border-radius: 5px;
}

.feedback-form button {
  position: absolute;

  bottom: 25px;
  right: 25px;
}
